<div class="modal-header alert-primary">
	<h4 class="modal-title font-weight-bold">{{ titulo }}</h4>
	<button type="button" class="btn btn-default btn-sm" aria-label="Close" (click)="bsModalRef.hide()">
		<em class="fa fa-window-close"></em>
	</button>
</div>
<div class="modal-body">
    <br>
    <div class="card bg-light">
      <div class="card-body">
        <div class="card">
          <div class="card-body">
            <div class="container">
                <div class="form-row">
                    <div class="form-group col-md-12 form-row">
                        <div class="col-md-2 color-font-new2">Fecha creado:</div>
                        <div class="col-md-4 color-font-new3">
                            {{cuenta.createdAt}}
                        </div>
                        <div class="col-md-2 color-font-new2">&Uacute;ltima modificaci&oacute;n:</div>
                        <div class="col-md-4 color-font-new3">
                            {{cuenta.updatedAt}}
                        </div>
                    </div> 
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-12 form-row">
                        <div class="col-md-2 color-font-new2">Tipo cuenta:</div>
                        <div class="col-md-4 color-font-new3">
                            {{cuenta.nombre}}
                        </div>
                        <div class="col-md-2 color-font-new2">Detalle:</div>
                        <div class="col-md-4 color-font-new3">
                            {{cuenta.descripcion}}
                        </div>
                    </div> 
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-12 form-row">
                        <div class="col-md-2 color-font-new2">Nro. cuenta:</div>
                        <div class="col-md-4 color-font-new3">
                            {{cuenta.nroCuenta}}
                        </div>
                        <div class="col-md-2 color-font-new2">Nro. CCI:</div>
                        <div class="col-md-4 color-font-new3">
                            {{cuenta.nroCCI}}
                        </div>
                    </div> 
                </div>
                <hr>
                <div class="form-row">
                    <div class="form-group col-md-12 form-row">
                        <div class="col-md-2 color-font-new2">Cod. swift:</div>
                        <div class="col-md-4 color-font-new3">
                            {{cuenta.nroCCI}}
                        </div>
                        <div class="col-md-2 color-font-new2">Disponible:</div>
                        <div class="col-md-4 color-font-new3">
                            S/. {{cuenta.montoDisponible}}
                        </div>
                    </div> 
                </div>
                <hr>
                <div class="form-row">
                    <div class="col-md-2 color-font-new2">Titular:</div>
                    <div class="col-md-4 color-font-new3">
                        {{cuenta.user.name}} - {{cuenta.user.dni}};
                    </div>
                    <div class="col-md-2 color-font-new2">Corrreo:</div>
                    <div class="col-md-4 color-font-new3">
                        {{cuenta.user.email}}
                    </div>
                </div>
                <hr>
                <div class="form-row">
                    <div class="col-md-12 bg-success text-white text-center" *ngIf="cuenta.indActivo == true"><h4>Cuenta Activa</h4></div>
                    <div class="col-md-12 bg-danger text-white  text-center" *ngIf="cuenta.indActivo == false"><h4>Cuenta Inactiva</h4></div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-danger btn-sm" [disabled]="!disabledStatus" (click)="btnOperacion();"
		style="width: 100px;">Alta
		<em class="fa fa-check-square-o"></em>
	</button>
	<button type="button" class="btn btn-default btn-sm" (click)="bsModalRef.hide()" style="width: 100px;">Cerrar
		<em class="fa fa-times-circle"></em>
	</button>
</div>

<!--
<button *ngIf="!params.showView" *ngFor="let option of options" type="button" class="btn btn-default btn-sm" (click)="btnRegistrarCliente(option)" style="width: 100px;">{{option}}
<div class="modal-footer">
	<ng-container *ngIf="options.length">
		<button *ngFor="let option of options" type="button" class="btn btn-default" (click)="respond(option)">{{option}}</button>
	</ng-container>
</div>-->